@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  * {
    width: 100%;
  }
}
#myCanvas {
    width: 1200;
    height: 600;
    background-color: white;
    margin-top: 20px;
    box-shadow: 5px 8px 8px 8px #888888;
}
#myDIV {
  justify-content: center;
  display: flex;
}
body {
  background-color: rgb(194, 194, 194);
}
.topnav {
  background-image: linear-gradient(rgb(35, 150, 245), white);
  padding: 15px;
  border-radius: 10px;
  display: flex;
}
.button {
  border: 1px solid transparent;
  padding: 12px;
  width: 90px;
  margin-left: 10px;
  background-color: rgb(64, 131, 233);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(26, 109, 235);
}
.brush-icon, .eraser-icon {
  border: 1px solid transparent;
  padding: 12px;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  background-color: rgb(64, 131, 233);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.brush-icon:hover, .eraser-icon:hover {
  background-color: rgb(26, 109, 235);
}
.color {
  margin-left: 5px;
  width: 80px;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
}