@media only screen and (max-width: 768px) and (min-width: 300px) {
  * {
    width: 100%;
  }
}

#myCanvas {
    width: 1200px;
    height: 600px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 5px 8px 8px 8px #888888;
}
#myDIV {
  justify-content: center;
  display: flex;
}
body {
  background-color: rgb(194, 194, 194);
}
.topnav {
  background-color: rgb(249, 253, 171);
  padding: 15px;
  border-radius: 10px;
  display: flex;
}
.button {
  border: 1px solid transparent;
  padding: 12px;
  width: 90px;
  margin-left: 10px;
  background-color: rgb(235, 214, 61);
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(226, 202, 17);
}
.brush-icon, .eraser-icon, .square-icon, .triangle-icon {
  border: 1px solid transparent;
  padding: 12px;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  background-color: rgb(235, 214, 61);
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.square-icon, .triangle-icon, .circle-icon, .hexagon-icon {
  border: 1px solid transparent;
  padding: 12px;
  width: 40px;
  height: 30px;
  margin-left: 10px;
  background-color: rgb(235, 214, 61);
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.brush-icon:hover, .eraser-icon:hover, .square-icon:hover, .triangle-icon:hover, .circle-icon:hover, .hexagon-icon:hover {
  background-color: rgb(226, 202, 17);
}
.color {
  margin-left: 5px;
  width: 80px;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
}